*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0;
  background-color: #F5F5F5;
}
section{
  display: inline-block;
  width: 55%;
}

.caoGatoCasa{
  /*display: inline-block;*/
  padding-top: 2px;
  width: 42%;
  /*background-color: #5758F1;*/
}


header{
  height: 100px;
  /*width: 85%;*/
  margin-left: 8.5%;
  margin-right: 8.5%;
  /*padding: 0% 8.5% 0% 8.5%;*/
  padding-top: 5px;
  /*background-color: aquamarine;*/
  /*margin: auto;*/
}

main{
  display:inline-block;
  /*width: 85%;*/
  margin-left: 8.5%;
  margin-right: 8.5%;
  padding-top: 0px;
  /*padding: 0% 8.5% 0% 8.5%;*/
  /*background-color: aquamarine;*/
  /*margin: auto;*/
}



h1{
font-weight:700;
font-size: 64px;
line-height: 1;
}

h3{
  position: relative;
  top: -5px;
  font-weight:700;
  font-size: 32px;
  /*line-height: 1;*/
  }

p{
/*display:inline-block;*/
margin-top: -18px;
line-height: 1.6;
font-family: Inter;
font-size: 23px;
padding: 0px 50px 0px 0px;
font-weight: 500;
}


  
header{
  /*height: 100px;
  //width: 85%;
  //background-color: aquamarine;
  //margin: auto;*/
  border-bottom: 1px solid black;
}

.logotipo, nav, aside{
  display: inline-block;
}

.logotipo{
  /*position: absolute;*/
  margin-left: -5px;
  margin: 10px 0px 0px -5px;
}

nav{
  display: inline-block;
  position: absolute;
  /*paddi: 15px;
  //margin: 0px;*/
  margin-top: 30px;
  margin-left: 10px;
  width: 50%;
  
  text-align: start;
  /*background-color: red;*/
}

nav a{
text-decoration: none;
color: black;
font-family: 'Montserrat', sans-serif;
font-weight:700;
size: 20px;
padding: 0rem 1.5rem 0rem 0rem;
}

aside{
float: right;
padding: 15px 0px 15px 15px;
/*background-color: yellow;*/
width: auto;
}

.iconeTelefone{
position: relative;
top: 5px;
left: -5px;
}

.telefone{
  display: inline-block;
  font-weight: 700;
  padding: 0px 20px 0px 0px;
  top: -5px;
  position: relative;
}

.iconeFone{
  display: inline-block;
  padding-right: 4px;
}

section button{
  position: relative;
  top: -25px;
}

.carrossel h3{
  color:#F1D06E;
  text-align: center;
}

.carrossel button{
  display: block;
}

.carrossel img{
  padding-left: 10px;
  padding-right: 10px;
}


/*
header{
height: 100%;
width: 85%;
background-color: aquamarine;
margin: auto;
border-bottom: 1px solid black;
}

main{
height: 100%;
width: 85%;
background-color:darkgoldenrod;
margin: auto;
}

.menuHeader{
text-decoration: none;
font-weight: 700;
size: 20px;
line-height: 5px;
/*padding: 0px 5px 0px 5px;*/
/*align-content: center;*/
/*}*/

.botaoDonate{
width: 181px;
height: 55px;
padding: 16px, 32px, 16px, 32px;
border-radius: 32px;
gap: 8px;
border: none;
color: white;
background-color: #FF3D9A;
font-weight:700;
font-size:   20px;
cursor: pointer;

/*position: relative;
margin-left: 23.5%;
margin-top: 0px;*/
}

.botaoIWannaHelp{
width: 249px;
height: 64px;
padding: 16px, 32px, 16px, 32px;
border-radius: 32px;
gap: 8px;
border: none;
color: white;
background-color: #FF3D9A;
font-weight:700;
font-size:   20px;
cursor: pointer;

/*position: relative;
margin-left: 23.5%;
margin-top: 0px;*/
}

.botaoIconApplyToAdopt{
width: 263px;
height: 55px;
padding: 16px, 32px, 16px, 32px;
border-radius: 32px;
gap: 8px;
border: 2px solid;
color: #1E1F27;
background-color: #F5F5F5;
font-weight:700;
font-size: 20px;
margin-left: 20px;
cursor: pointer;
}

.botaoApplyToAdopt{
  width: 223px;
  height: 64px;
  padding: 16px, 32px, 16px, 32px;
  border-radius: 32px;
  gap: 8px;
  border: 2px solid #F5F5F5;
  color: #F5F5F5;
  background-color: #1E1F27;
  font-weight:700;
  font-size: 20px;
  cursor: pointer;
}

.botaoViewAdoptables{
  width: 238px;
  height: 64px;
  padding: 16px, 32px, 16px, 32px;
  border-radius: 32px;
  gap: 8px;
  border: 2px solid #F5F5F5;
  color: #1E1F27;
  background-color: #F8DB46;
  font-weight:700;
  font-size: 20px;
  cursor: pointer;
}

.botaoRaio16ViewAdoptables{
  width: 224px;
  height: 64px;
  padding: 16px, 24px, 16px, 24px;
  border-radius: 16px;
  gap: 8px;
  border: 2px solid #F5F5F5;
  color: #1E1F27;
  background-color: #04C27F;
  font-weight:700;
  font-size: 20px;
  cursor: pointer;
}

.botaoGetInvolved{
  width: 224px;
  height: 64px;
  padding: 16px, 24px, 16px, 24px;
  border-radius: 16px;
  gap: 8px;
  border: 2px solid #F5F5F5;
  color: #1E1F27;
  background-color: #F1D06E;
  font-weight:700;
  font-size: 20px;
  cursor: pointer;
}

.botaoGiveMonthly{
  width: 224px;
  height: 64px;
  padding: 16px, 24px, 16px, 24px;
  border-radius: 16px;
  gap: 8px;
  border: 2px solid #F5F5F5;
  color: #1E1F27;
  background-color: #FF3D9A;
  font-weight:700;
  font-size: 20px;
  cursor: pointer;
}

.botaoLearnMore{
  width: 224px;
  height: 64px;
  padding: 16px, 24px, 16px, 24px;
  border-radius: 16px;
  gap: 8px;
  border: 2px solid #F5F5F5;
  color: #1E1F27;
  background-color: #5758F1;
  font-weight:700;
  font-size: 20px;
  cursor: pointer;
}

.botaoIWannaAdopt{
  width: 384px;
  height: 64px;
  padding: 16px, 24px, 16px, 24px;
  border-radius: 16px;
  gap: 8px;
  border: 2px solid #F5F5F5;
  color: #F5F5F5;
  background-color: #04C27F;
  font-weight:700;
  font-size: 20px;
  cursor: pointer;
}

.botaoSubscribe{
  width: 238px;
  height: 64px;
  padding: 16px, 32px, 16px, 32px;
  border-radius: 32px;
  gap: 8px;
  border: 2px solid #F5F5F5;
  color: #1E1F27;
  background-color: #F8DB46;
  font-weight:700;
  font-size: 20px;
  cursor: pointer;
}

.botaoBack{
  width: 156px;
  height: 64px;
  padding: 16px, 32px, 16px, 32px;
  border-radius: 32px;
  gap: 8px;
  border: 2px solid #F5F5F5;
  color: white;
  background-color: #37383F;
  font-weight:700;
  font-size: 20px;
  cursor: pointer;
}

.botaoCancel{
  width: 177px;
  height: 64px;
  padding: 16px, 32px, 16px, 32px;
  border-radius: 32px;
  gap: 8px;
  border: 2px solid #F5F5F5;
  color: white;
  background-color: #37383F;
  font-weight:700;
  font-size: 20px;
  cursor: pointer;
}

.botaoSeeMore{
  width: 250px;
  height: 64px;
  padding: 16px, 32px, 16px, 32px;
  border-radius: 32px;
  gap: 8px;
  border: 2px solid #F5F5F5;
  color: #F5F5F5;
  background-color: #FF3D9A;
  font-weight:700;
  font-size: 20px;
  cursor: pointer;
}


.iconeCao, .iconeCoracao, .iconeSetaEsquerda{
position: relative;
top: 5px;
padding-right: 15px;
/*border: 2px black solid;*/
}
/*
.logotipo, nav, aside, h6, p{
display: inline;
}

.logotipo{
position: relative;
margin-left: -5px;
margin-top: 0px;
}

.caoGatoCasa{
clear: left;
background-color: brown;
width: 30%;  
}

nav{
position: absolute;
margin-top: 5px;
background-color: chartreuse;
}

aside{
background-color: darkblue;
}

section{
background-color: #FF3D9A;
width: 50%;
}

/*div, main, h1, p{
display: inline;
width: 50%;
}*/

.statsBlock{
  background-color: #1E1F27;
  width: 100%;
  margin-top: 10%;
  margin-left: 0%;
  margin-right: 0%;
  height: 924px;
}

.statsBlockContent{
  width: 83%;
  margin-left: 8.5%;
  margin-right: 8.5%;
  padding: 40px 0px 40px 0px;
  /*background-color: aqua;*/
}

.statsBlockContent > h2{
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  color: #FFFFFF;
  /*background-color: #F1D06E;*/
  padding: 0px 120px;
  line-height: 1.3;
}

.statsBlockContent > section{
  width: 100%;
}

.statsBlockContent > section > h2{
  display: inline-block;
  width: 33.33%;
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  color: #F8DB46;
  /*background-color: #FF3D9A;*/
}

.statsBlockContent > section > h4{
  display: inline-block;
  width: 33.33%;
  margin: 2% 0 4% 0;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
  /*background-color: #FF3D9A;*/
}

.carousel{
  background-color: #5758F1;
  height: 326px;
  text-align: center;
  font-size: 64px;
}

/********** MODAIS **********/
.modalDonate{
  display: none;
  position: fixed;
  top: 5%;
  left: 110%;
  width: 400px;
  border-radius: 20px;
  padding: 23px;
  /*text-align: center;*/
  background-color: #FFFFFF;

  /*animation-name: example;*/
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.modalDonate h2{
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}

.modalDonate button.botaoIWannaHelp{
  display:block;
  height: 60px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.modalDonate button.botaoCancel{
  display:block;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

.modalDonate form input[type="text"], .modalDonate form input[type="email"]{
  display:block;
  border-radius: 8px;
  border: 1px solid;
  width: 100%;
  height: 56px;
}

.modalDonate form p{
  padding: 0;
}

.lblColor{
  color: #FF3D9A;
  font-size: 12px;
  font-weight: 700;
}

.lblColor span{
  color: #3F96FC;
}

@keyframes exibe {
  from {left:100%;}
  to {left: 35%;}
}

@keyframes oculta {
  from {left:35%;}
  to {left: 110%; display: none;}
}